*{
    padding: 0;
    margin: 0;
}

body{
    align-content: center;
    text-align: center;
}

#adding{
    width: 4rem;
    height: 2rem;
    background-color: blue;
    color: aliceblue;
    border: none;
}

